<div class="container-fluid">
    <div class="row fixed-top">
        <header>
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="#"><img src="assets/img/hal100logo.png" class="img-fluid"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Lista de Funcionarios</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
    </div>
    <app-embarque-list></app-embarque-list>
    <div class="row fixed-bottom">
        <footer>
            <span>HALLIBURTON 2018</span>
        </footer>
    </div>
</div>